<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.new_blog')}}">New post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.blogs')}}">View posts</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}"><i class="fas fa-user-check"></i> {{current_user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i> Sign out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}"><i class="fas fa-sign-in-alt"></i> Log in</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.register')}}"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            {% endif %}
          </ul>
    </div>
</nav>